{% extends 'base.html' %}
{% load static %}

{% block css-files %}
<link rel="stylesheet" href={% static 'blog/post-detail.css' %}>


{% endblock css-files %} 
{% block title %} 
This Post's Ttle
{% endblock title %}
{% block content-body %}


<section id="summary">
  <h2>Post Title</h2>
    <article>
      <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title">
        <address>By Aaron
          <div>last Updated on <time> July 10th 2021 </time> </div>
        </address>
      </img>
    </article>
  

  </section>
  <main>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ratione iste dolores modi omnis perspiciatis ducimus illo enim natus aliquid!</p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed hic animi vitae quaerat accusamus eum corrupti, aliquid sunt consequuntur. Fuga cumque quas quod blanditiis quidem dolor quis non neque reprehenderit alias perspiciatis, id eos mollitia laboriosam libero molestiae, saepe illo ipsa natus corporis? Dolore error architecto dolores autem et. </p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed hic animi vitae quaerat accusamus eum corrupti, aliquid sunt consequuntur. Fuga cumque quas quod blanditiis quidem dolor quis non neque reprehenderit alias perspiciatis, id eos mollitia laboriosam libero molestiae, saepe illo ipsa natus corporis? Dolore error architecto dolores autem et. </p>
  </main>


{% endblock content-body %}